body{margin:0;padding:0;background:#fff;color:#404040;font-size:12px;font-family:"宋体",Verdana,Arial;line-height:150%}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{margin:0;padding:0;border:0;list-style-type:none}
.fl{float:left;_display:inline}
.fr{float:right;_display:inline}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f24{font-size:24px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.noline{text-decoration:none}
.underline{text-decoration:underline}
.throughline{text-decoration:line-through}
.ml0{margin-left:0!important}
.mr0{margin-right:0!important}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.mr5{margin-right:5px}
.mr8{margin-right:8px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr50{margin-right:50px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb50{margin-bottom:50px}
.ml5{margin-left:5px}
.ml8{margin-left:8px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pr5{padding-top:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.pl50{padding-left:50px}
.inline{display:inline}
.inblock{display:inline-block;*display:inline}
.none{display:none}
.hidden{visibility:hidden}
.relative{position:relative}
.absolute{position:absolute}
.zoom{zoom:1}
.blod{font-weight:bold}
.bloder{font-weight:bolder}
.pointer{cursor:pointer}
img{margin:0;border:0}
li{list-style:none;word-spacing:normal}
.clear{clear:both}
#container{margin:0 auto;padding:0;width:980px;height:auto}
.wrapper{margin:0 auto;padding:0;width:980px}
.block{margin:0 auto;padding:0;width:980px}
.w1200 .block{margin:0 auto;padding:0;width:1200px}
.f_l{float:left}
.f_r{float:right}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.dis{display:block}
.inline{display:inline}
.none{display:none}
.dashed{padding:2px 0 3px 12px;background:url(images/lineBg.gif) repeat-x left top;color:#3f3f3f}
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:"."}
*html .clearfix{height:1%}
*+html .clearfix{height:1%}
.word{word-break:break-all}
.B_blue{border:1px solid #cecece}
.B_input{border:1px solid #cecece}
.inputBg{height:20px;border:1px solid #ccc;line-height:20px}
.f1{color:#c00}
.f2{margin-right:15px;color:#006bd0;font-weight:bold}
.f3{color:#9e9e9e}
.f4{color:#fe596a}
.f4_b{color:#fe596a;font-weight:bold}
.f5{font-weight:bold;font-size:14px}
.f6{color:#006bd0}
.f7{color:#f00}
.f8{color:#900;font-size:20px;font-family:Arial}
.market{color:#999;text-decoration:line-through;font-size:14px}
.shop{color:#c00;font-weight:bold;font-size:14px;font-family:Arial}
.market_s{color:#999;text-decoration:line-through;font-family:Arial}
.shop_s{color:#c00;font-weight:bold;font-size:14px;font-family:Arial}
.hoverlist img{border:1px solid #fff}
.hoverlist a:hover{border:0}
.hoverlist a:hover img{border:1px solid #fff}
.bnt_blue{width:52px;height:21px;border:0;background:url(images/bg.gif) no-repeat 0 0;color:#fff;text-align:center;line-height:21px;cursor:pointer}
.bnt_blue_1{width:77px;height:21px;border:0;background:url(images/bg.gif) no-repeat 0 -663px;color:#fff;text-align:center;line-height:21px;cursor:pointer}
.bnt_blue_2{width:139px;height:21px;border:0;background:url(images/bg.gif) no-repeat 0 -696px;color:#fff;text-align:center;line-height:21px;cursor:pointer}
.bnt_bonus{width:52px;height:21px;border:0;background:url(images/bg.gif) no-repeat -56px 0;color:#fff;text-align:center;line-height:21px;cursor:pointer}
.box{overflow:hidden;padding-bottom:2px;background:#fff}
.box_1{border:1px solid #ccc;background-color:#fff}
.box_2{overflow:hidden;border:1px solid #d4d4d4}
.box_3{border:1px solid #ccc;background-color:#fff}
.box_4{border-top:4px solid #b6b6b6;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;border-left:1px solid #dcdcdc;background-color:#fff}
.boxCenterList{padding:8px}
h3{padding:0 6px;height:27px;border-bottom:1px solid #e4e4e4;background:#fff url(images/h3bgw.gif) repeat-x;color:#333;text-align:right;font-size:12px;line-height:27px}
h3 img{position:relative;top:7px}
h3 span{float:left;padding-left:5px;width:auto;text-align:left}
.h3{padding:0 6px;height:30px;background:#fff url(images/h3bg1.gif) repeat-x;color:#333;text-align:right;font-size:12px;line-height:30px}
.h3 img{position:relative;top:7px}
.h3 span{float:left;padding-left:5px;width:auto;text-align:left;font-weight:bold}
h5{padding:0 10px 0 0;height:26px;background-color:#f4f2f2;color:#827f7f;text-align:right;font-size:12px;line-height:26px}
h5 span{float:left;padding-left:8px;font-weight:bold}
h6{padding-right:10px;height:23px;border:1px solid #fff;background:#f4f2f2;color:#3f3f3f;text-align:right;font-size:12px;line-height:23px}
h6 span{float:left;padding-left:15px}
#winner{Z-INDEX:99999;WIDTH:100%}
a{color:#666;text-decoration:none}
a:hover{color:#c00}
.blank{clear:both;visibility:hidden;height:8px;line-height:8px}
.blank5{clear:both;visibility:hidden;height:5px;line-height:5px}
.AreaL{float:left;display:inline;margin-right:10px;width:205px}
.AreaR{float:left;overflow:hidden;width:765px}
.w1200 .AreaR{width:980px}
#top{height:27px;border-bottom:1px solid #efefef;background-color:#fafafa}
#top span{float:right;padding:2px 0;color:#acacac;line-height:23px}
#top .link-regist{color:#06c}
#top ul{position:relative;z-index:1;float:right;padding-left:25px;height:27px;background:url(images/bg_shortcut.gif) no-repeat -110px -165px;line-height:27px}
#top ul li{float:left;padding:2px 3px;height:23px;background:url(images/bg_shortcut.gif) no-repeat -260px -100px;color:#acacac;line-height:23px}
#top .ul1{Z-INDEX:9999;POSITION:relative;PADDING-LEFT:6px;WIDTH:68px;BACKGROUND:url(images/s1.gif) 60px 6px no-repeat;FLOAT:left}
#top .ul1_float{DISPLAY:none}
#top .ul1_on .ul1_float{Z-INDEX:99999;BORDER-BOTTOM:#ccc 1px solid;POSITION:absolute;BORDER-LEFT:#ccc 1px solid;WIDTH:73px;DISPLAY:block;BACKGROUND:#fff url(images/s2.gif) 60px 6px no-repeat;BORDER-TOP:#ccc 1px solid;TOP:-2px;BORDER-RIGHT:#ccc 1px solid;LEFT:0}
#top .ul1_on .ul1_float dl{float:left;padding-top:5px}
#top .ul1_on .ul1_float dd{padding-left:8px;height:20px;line-height:20px}
#top .ul1_on .ul1_float dd A{font-weight:normal;LINE-HEIGHT:20px}
#top .ul1_on .ul1_float .pln{margin-left:7px;background:url(images/newstit.gif) 0 8px no-repeat}
#top .ul1_on .ul1_float .a1{color:#c00}
.w1200 .head{width:1200px}
.w1200 .headr{padding-left:100px;width:690px}
.w1200 #search{width:1200px}
.head{width:980px}
.logo{float:left;overflow:hidden;padding-top:8px;width:258px}
.w1200 .logo{width:358px}
.tel{float:left;margin-top:30px}
.btel{float:right;margin-top:22px;width:195px}
#lanrentuku{position:relative;padding-bottom:3px}
.headr{float:left;display:inline;overflow:hidden;padding-left:100px;width:480px}
.head_search{float:left;overflow:hidden;margin-top:24px;width:457px}
.searchFormh{position:relative;z-index:1000;overflow:hidden;width:457px;height:36px;background:url(images/mall/header_sprites.png) 0 -56px no-repeat;_zoom:1}
.head_search .input{float:left;padding:9px 0 9px 13px;width:362px;height:18px;border:0;background:0;color:#a4a3a3;vertical-align:top;line-height:18px}
.head_search button{float:right;width:82px}
.head_search button.searchBtn{float:right;width:82px;height:36px;border:0;background:#9a0000;color:#fff;font-size:16px;font-family:Microsoft Yahei;cursor:pointer}
.head_search p{overflow:hidden;margin-top:4px;padding-left:6px;height:14px;color:#787878;line-height:14px}
.head_search p a{float:left;margin-right:12px;white-space:nowrap}
.head_search p a.hot_tag{color:#c00}
.site_header a.linkYHD{float:right;margin-top:24px;padding-left:65px;width:82px;height:36px;background:url(images/mall/header_sprites.png) 0 -97px;color:#4f4f4f;line-height:36px}
.site_header a.linkYHD:hover{color:#c00}
.headerNav_ifm{position:absolute;top:0;left:0;width:100%;height:35px;background:#000;opacity:0;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0}
.minicart_ifm{position:absolute;top:0;left:-2px;width:379px;background:#000;opacity:0;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0}
#headerNavEm{display:none;height:35px;background:#670000}
.headerNav,.headerNavCon{height:35px;background:url(images/mall/nav_bg.gif) repeat-x #670000;background:-webkit-gradient(linear,left top,left bottom,from(#6b0000),to(#5a0000));background:-moz-linear-gradient(top,#6b0000,#5a0000)}
.headerNav.navFloat{position:fixed;top:0;left:0;z-index:1002;width:100%;_position:absolute}
.headerNav .wrap{position:static}
.navbg{width:100%;height:35px;BACKGROUND: url(images/meun_bg.gif) repeat-x 0px 0px;}
#search{margin:0 auto;width:980px;height:35px}
.headerNavWrap{FLOAT:left;WIDTH:550px;ZOOM:1;WHITE-SPACE:nowrap;POSITION:relative;HEIGHT:35px;OVERFLOW:hidden}
.w1200 .headerNavWrap{width:780px}
.headerNavWrap{position:relative;z-index:999;float:left;overflow:hidden;width:570px;height:35px}
.headerNavMain li{position:relative;z-index:999;float:left;    border-right: 1px solid #7A1019;  border-left: 1px solid #BD2332;}
.headerNavMain li a{display:block;padding:0 12px;color:#fff;white-space:nowrap;font:14px/1.5 "Microsoft YaHei","微软雅黑","Microsoft JhengHei","宋体";font-weight:bold;line-height:35px}
.headerNavMain li.YHD a{background:#d00000;font-weight:bold}
.headerNavMain li a:hover,.headerNavMain li.cur a{color:#fff;  BACKGROUND: url(images/meun_bg.gif) repeat-x 0px -36px;  }
.headerNavMain li img{position:absolute;top:-11px;right:0;z-index:1000}
#mycart{position:relative;z-index:999;float:right;width:210px;height:35px;background:url(images/mall/header_sprites.png) 0 -189px no-repeat}
#mycart li{float:left;text-align:center}
#mycart .fore1{position:relative;z-index:20;padding:7px 0 0 10px;background:url(images/carticon.gif) right no-repeat}
#mycart .topcart{color:#fff}
#mycart .topcart .buyt{float:left;padding-right:3px;padding-left:27px;font-weight:bold;font-size:12px}
#mycart .topcart strong{float:left;display:block;width:34px;height:21px;background:url(images/cartnum.gif) no-repeat;color:#c00}
#mycart .topcart em{display:none}
#mycart .fore2{float:right;padding-top:7px;padding-right:10px;width:55px}
#mycart .fore2 a{color:#fff;font-weight:bold;font-size:12px}
#mycart .gold{color:#642a02;font-weight:bold}
#mycart .on #o-mycart-list{display:block}
#mycart .out #o-mycart-list{display:none}
#o-mycart-list{position:absolute;top:28px;right:-103px;padding-top:5px;width:368px}
#mycart-list{padding:5px 0 0;width:354px;height:auto!important;height:120px;min-height:120px;border: 1px solid #8D1414;background: url(images/black.png);text-align:left}
#mycart-list .nocart{margin-top:50px;text-align:center;color: #fff;}
#mycart-list dl{overflow:hidden;height:68px;zoom:1}
#mycart-list strong{color:#ff2400}
#mycart-list .p-imgcart{float:left;margin-right:6px;width:50px}
#mycart-list .p-name{float:left;margin-top:10px;width:200px;height:40px;line-height:20px}
#mycart-list .extra{float:right;margin-top:10px;width:90px;height:40px;text-align:right;line-height:20px}
#mycart-list .extra a{color:#999}
#mycart-list .padditem{padding: 10PX 3px;background: #FFF;margin-top: -5PX;}
#mycart-list .total{padding:0 8px 5px;border-top:1px solid #d1d1d1;background-color:#f7f7f7;text-align:right}
#mycart-list .total a{color:#333;text-decoration:none;cursor:text}
#mycart-list .total .checkall{padding:5px 0}
#mycart-list .total span{color:#c00;font-weight:bold}
#mycart-list #btn-payforgoods{float:right;display:block;width:79px;height:26px;background:url(images/bg_nav.jpg) no-repeat;text-align:center;line-height:26px;cursor:pointer}
#btn-savetocart{float:left;width:72px;background-position:-14px -54px}
#btn-payforgoods{float:right;width:91px;background-position:-14px -32px;color:#fff}
*html #search{overflow:hidden}
*html .searchFormh{overflow:hidden}
#o-search{height:642px}
.allsorttop{position:relative;z-index:11;float:left;width:200px;height:35px;background-color:#8a0000;border-right: 1px solid #790813;}
.allsorttop .mtc{padding:4px 12px 10px 16px;height:29px;line-height:29px;cursor:pointer}
.allsorttop .mtc strong{float:left;color:#fff;font-size:14px}
.allsorttop .mtc strong a{color:#fff}
.allsort{Z-INDEX:11;POSITION:relative;WIDTH:200px;FLOAT:left;HEIGHT:30px}
.allsort .mt{padding:14px 12px 14px 16px;height:24px;line-height:24px;cursor:pointer}
.allsort .mt strong{float:left;color:#630;font-size:14px}
#o-search .allsort .mt a{color:#630}
.allsort .mt .extra{display:none}
.allsort .mc{position:absolute;overflow:visible;padding-bottom:7px;width:200px;background: #670000;}
.allsort .item{height:52px;    border-top: 1px solid #912929;border-bottom: 1px solid #4E151A;}
.allsort .fore{border-top:0}
.allsort span{position:relative;z-index:1;display:block;width:190px}
.allsort h3{padding-top:5px;padding-left:12px;width:172px;height:46px;border:0;background: #670000 url(images/h3ico.gif) right 15px no-repeat;text-align:left;font-weight:normal}
.allsort h3 a:link,.allsort h3 a:visited{display:block;color:#fff;font-size:12px}
.allsort h3 a:hover,.allsort h3 a:active{color: #8f1429;}
.allsort .item .childcat{position:absolute;bottom:0;overflow:hidden;width:190px;font-weight:normal}
.allsort .item .childcat a{float:left;padding-right:3px;color:#c29999;font-weight:normal}
.allsort s{position:absolute;top:10px;left:192px;display:block;width:13px;height:13px;background:url(images/bg_navhover.jpg) no-repeat -274px -216px}
.allsort .item .i-mc{position:absolute;left:200px;display:none;overflow:hidden;width:758px;background:url(images/black.png)}
.allsort .item dt{padding:3px 6px 0 0;font-weight:bold}
.allsort .item dd{overflow:hidden;padding:3px 0 0;zoom:1}
.allsort .subitem{float:left;padding:0 15px 0;width:520px;height:auto!important;height:462px;min-height:462px}
.allsort .subitem dl{overflow:hidden;padding:6px 0;border-top:1px solid #a2a2a2;zoom:1}
.allsort .subitem .fore{border-top:0}
.allsort .subitem dt{float:left;padding-left:5px;width:60px;text-align:right;line-height:22px}
.allsort .subitem dd{float:left;width:400px}
.allsort .subitem em{float:left;margin:4px 0;padding:0 8px;height:14px;border-left:1px solid #ccc;font-style:normal;line-height:14px}
.allsort .subitem dt a{color:#fff;white-space:nowrap}
.allsort .subitem dt a:hover{color:#fff;text-decoration:underline}
.allsort .subitem dd a{color:#eaeaea}
.allsort .subitem dd a:hover{color:#fff;text-decoration:underline}
.allsort .fr{width:176px;background:#fff}
.allsort .fr dl{padding-bottom:0}
#o-search .allsort .fr a{color:#fff}
.allsort .bgg{width:200px;height:auto!important;height:462px;min-height:462px;background:#333}
.allsort .brands{padding:6px 8px}
.allsort .brands em{float:left;width:80px;font-style:normal}
.allsort .brands dt{color:#fff}
.allsort .brands dd{padding-top:6px;line-height:20px}
.allsort .brands dd a{float:left;overflow:hidden;width:90px;color:#fff}
.allsort .promotion{padding:6px 8px}
.allsort .promotion dt{color:#fff}
.allsort .promotion dd{padding-top:6px;line-height:20px}
.allsort .promotion li{overflow:hidden;height:22px;color:#fff;line-height:22px}
.allsort .promotion dd a{color:#fff}
.allsort .mc .extra{padding:7px 8px;border-top:1px solid #fde6d2;background:#fdf1de}
.allsort .classbox{margin:10px 0 0 10px;width:180px;height:36px;background-color: #752F2C;text-align:center;line-height:36px}
.allsort .classbox a{display:block;padding-right:18px;height:36px;background:url(images/classboxi.gif) 155px 10px no-repeat;color:#fff;font-weight:bold}
#o-search .allsort .mc .extra a{color:#c00}
.allsorthover{background-position:0 -166px}
.allsorthover .mt .extra{background-position:-274px -190px}
.allsorthover .mc{display:block}
.allsort .hover span{z-index:13;width:160px}
.allsort .hover h3{overflow:hidden;width: 182px;background: #8B1E1E;}
.allsort .hover h3 a,.allsort .hover h3 a:hover{color:#fff}
.allsort .hover s{display:none}
.allsort .hover .i-mc{z-index:12;display:block}
.allsort .hover .childcat a{color:#d2d2d2}
.allsort .lyonoe{display:none}
.allsort .mctit{position:relative;z-index:11;width:200px;height:35px;background-color:#8a0000}
.allsort .mctt{padding:4px 12px 2px 16px;height:24px;line-height:24px;cursor:pointer}
.allsort .mctt strong{float:left;color:#fff;font-size:14px}
.allsort .mctt strong a{color:#fff}
.allsorthover .mc{DISPLAY:block}
.allsort .mcly{POSITION:absolute;TOP:35px}
#ur_here{padding:0 18px;height:30px;background:url(images/urhere.gif) left center no-repeat;line-height:30px}
#ur_here a{color:#666;text-decoration:none}
#ur_herec{padding:0 18px;background:url(images/urhere.gif) left center no-repeat}
#ur_herec a{color:#666;text-decoration:none}
.categorynum .num{color:#a60002;font-weight:bold}
#scrollTop{position:fixed;right: 0px;bottom:50px;z-index:1;overflow:hidden;padding-left: 10px;width:60px;height:60px;background:url(images/itopb.gif) no-repeat;text-indent:-999em;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-134))}
#scrollTop:hover{background:url(images/itopa.gif) no-repeat}
.rankOp{height:30px;border:1px solid #dbdbdb;border-top:2px solid #c00;background:#f5f5f5;line-height:30px}
.rankOp ul,.rankOp li{float:left}
.rankOp ul.rank li{border-right:1px solid #dbdbdb}
.rankOp ul.rank li a{display:block;padding:0 10px;color:#333}
.rankOp ul.rank li a:hover{background:#fff}
.rankOp ul.rank li.normal a{color:#c00}
.rankOp ul.rank li span{display:block;padding:0 10px 0 0;background:url(images/search_pubbg.gif) no-repeat}
.rankOp ul.rank li.default span{background-position:right -765px}
.rankOp ul.rank li.DESC a,.rankOp ul.rank li.ASC a{background:#fff;color:#c00;font-weight:bold}
.rankOp ul.rank li.ASC span{background-position:right -801px}
.rankOp ul.rank li.DESC span{background-position:right -688px}
.type_goods{padding-left:20px}
.type_goods li{height:30px}
.type_goods input{margin-right:4px;vertical-align:-2px;*vertical-align:4px;_vertical-align:-11px}
.type_goods label{margin-right:15px;*vertical-align:7px;_vertical-align:-8px}
.rankOp ul.page{float:right;margin-right:5px}
.rankOp ul.page .pageNum{padding-right:7px;color:#333}
.rankOp ul.page .pageNum span{color:#c00}
.rankOp ul.page a{float:left;margin:8px 0 0 5px;padding:2px;border:1px solid #dbdbdb;background-color:#fff;line-height:15px}
.rankOp ul.page a.cur{background:#f3f3f3;color:#c00;font-weight:bold}
.rankOp ul.page a.prev,.rankOp ul.page a.next{display:inline;float:left;width:18px;height:18px;margin:6px 5px 0 0;padding:0;border:0;background:url(images/search_pubbg.gif) no-repeat;text-indent:-999em}
.rankOp ul.page a.prev{background-position:0 -923px}
.rankOp ul.page a.prevNo{background-position:0 -905px}
.rankOp ul.page a.next{background-position:0 -959px}
.rankOp ul.page a.nextNo{background-position:0 -941px}
#beautycare{width:201px;border:#a00000 solid 2px}
.beautytitle{font:18px '微软雅黑','宋体',Arial,Helvetica,sans-serif;background:url(images/channelsprites.gif) no-repeat 0 -52px;width:201px;height:42px;line-height:42px;text-align:center;color:#fff}
.facecare{width:182px;margin:0 auto;margin-top:10px;padding-bottom:10px;border-bottom:#e3e3e3 solid 1px}
.facetitle{font:bold 14px '宋体',Arial,Helvetica,sans-serif;color:#900}
.facetitle a{color:#a00000;text-decoration:none}
.facetitle a:hover{text-decoration:underline}
.facecare ul{width:181px}
.facecare li{float:left;width:auto;height:14px;line-height:14px;list-style:none;color:#ccc;margin-right:5px;margin-top:8px;white-space:nowrap}
.facecare li a{color:#676767;text-decoration:none}
.facecare li a:hover{color:#a00000;text-decoration:underline}
.classtit{background-color:#f5f5f5;border-top:2px solid #c00;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;height:32px;line-height:32px}
.classtit b{padding-left:15px;color:#333;font-size:14px}
#category_tree{background-color:#fff;padding:10px 0}
#category_tree dl{margin:0 6px}
#category_tree dt{background:url(images/lineBg.gif) repeat-x left bottom;color:#666;padding:0 0 3px 0;height:25px;line-height:25px}
#category_tree .clink a{background:url(images/classj.gif) left center no-repeat;color:#666;padding-left:15px;text-decoration:none}
#category_tree .chov{background-color:#fff1ca;text-decoration:none}
#category_tree .chov a{background:url(images/classjj.gif) left center no-repeat;color:#c00;font-weight:bold;padding-left:15px;text-decoration:underline}
#category_tree dd{padding:3px 0 3px 20px}
#category_tree .d2link{background:url(images/class2j.gif) left center no-repeat;padding-left:10px}
#category_tree .d2hov{background-color:#fff1ca;text-decoration:none;height:25px;line-height:25px}
#category_tree .d2hov a{background:url(images/classd2hov.gif) left center no-repeat;color:#c00;font-weight:bold;padding-left:20px;text-decoration:none}
#category_tree .d3link{background:url(images/class2j.gif) left center no-repeat;margin-left:15px;padding-left:10px}
#category_tree .d3hov{background-color:#fff1ca;text-decoration:none;height:25px;line-height:25px}
#category_tree .d3hov a{background:url(images/classd2hov.gif) left center no-repeat;color:#c00;font-weight:bold;padding-left:20px;text-decoration:none}
#category_tree dd a{color:#404040;text-decoration:none}
#category_tree dd a:hover{color:#f60;text-decoration:none}
.top10Tit{background:url(images/bg.gif) no-repeat 0 -85px;height:30px}
.top10List{background-color:#fff;margin:0 4px 4px 4px}
.top10List ul{border-bottom:1px dashed #e2f3fd;position:relative}
.top10List .iteration{position:absolute;top:6px;left:6px}
.top10List .iteration1{padding-left:5px;width:120px;overflow:hidden}
.top10List li.topimg{width:35px;height:35px;float:left}
.top10List .samllimg{width:35px;height:35px;margin-bottom:4px}
.top10List li{padding:3px 3px 3px 23px;float:left}
.top10List li a,#mallNews .NewsList li a,.boxCenterList li a{color:#3f3f3f;text-decoration:none}
.top10List li a:hover,#mallNews .NewsList li a:hover,.boxCenterList li a:hover{color:#c00;text-decoration:none}
.category_all{background-color:#fff}
.category_all .tit{width:100%;height:28px;border-bottom:1px solid #ddd;font-size:12px;line-height:28px;text-indent:10px;font-weight:bold;color:#333}
.newpro{padding:0 5px}
.cat_top10 a{text-decoration:none;color:#333}
.cat_top10 .ul_box{border-bottom:1px dotted #c3c3c3;height:165px;overflow:hidden;padding:6px 0 6px 0;position:relative}
.cat_top10 .ul_box p{display:block}
.cat_top10 .ul_box .f1{font-weight:bold;color:#c00}
.cat_top10 .ul_box .no{float:left;margin-left:6px;width:13px;text-align:center;height:13px;line-height:13px;background:#c00 url(images/itop1.gif) no-repeat;color:#FFF;font-weight:bold;font-family:Arial;margin-right:8px;display:inline}
.cat_top10 .shopjp{color:#c00;font-size:12px;font-weight:normal}
.cat_top10 .ul_box .goodsimg{float:left;width:160px}
.cat_top10 .ul_box .thumb{margin-top:3px;width:115px;height:115px}
.cat_top10 .ul_box .namel{height:15px;line-height:15px;overflow:hidden}
.cat_top10 .ul_box .namel a{color:#c00}
.cat_top10 .ul_box li.pleft{width:160px;margin:0 auto;text-align:center}
.cat_top10 .ul_list{height:33px;line-height:33px}
.cat_top10 .ul_list .name{border-bottom:1px dotted #c3c3c3;height:25px;line-height:25px;width:98%;overflow:hidden}
.cat_top10 .ul_list .no{float:left;margin-top:6px;margin-left:6px;margin-right:5px;width:13px;text-align:center;height:13px;line-height:13px;background:#c00 url(images/itop2.gif) no-repeat;color:#FFF;font-weight:bold;font-family:Arial;display:inline}
.cat_top10 .ul_list .proname{width:150px;float:left;height:25px;overflow:hidden}
.cat_top10 .ul_list .jg{width:20px;float:right;overflow:hidden}
#sales{width:500px;background:url(images/salesBg.gif) repeat-x left bottom;border-bottom:2px solid #f0f1f3;background-color:#eef8ff}
#sales h1{font-size:12px;background:url(images/salesTitBg.gif) no-repeat;height:33px;text-align:right}
#sales h1 img{position:relative;top:10px;right:8px}
#sales .goodBox{margin:10px 0 10px 10px;_margin-left:5px}
#sales .goodBox .goodList p{text-align:left;color:#3f3f3f}
#sales .goodBox .goodList p a{color:#3f3f3f;text-decoration:none}
#sales .goodBox .goodList p a:hover{color:#f60;text-decoration:none}
#sales .goodList{width:110px;margin:0 5px 0 5px;float:left}
#sales .goodList img{background:url(images/salesGoodBg.gif) no-repeat;width:100px;height:100px;padding:5px}
#sales .goodList p{margin-top:3px;text-align:center}
#brands{width:247px;height:199px;*height:201px;padding:1px 0 0 1px;position:relative}
#brands .brandsMore{position:absolute;left:178px;bottom:10px;width:65px;height:41px}
#brands .brandsMore img{border:0;width:65px;height:41px}
#brands img{width:78px;height:40px;border:1px solid #c5e4ff}
#brands a{color:#0069cd;text-decoration:none;margin:2px 1px;display:block;float:left}
.brandsIe6{_width:250px}
.centerPadd{padding:5px 0 8px 0;overflow:hidden}
.itemTit{height:30px;background:url(images/bg.gif) no-repeat 0 -195px;padding-left:190px;text-align:right}
.itemTit.New{background:url(images/bg.gif) no-repeat 0 -225px}
.itemTit.Hot{background:url(images/bg.gif) no-repeat 0 -256px}
.itemTit img{position:relative;top:7px}
.itemTit h2{float:left;height:27px;background:url(images/itemH2Bg.gif) repeat-x left top;border:1px solid #d6ecff;font-size:12px;text-align:center;color:#3f3f3f;font-weight:100;padding:0 10px;line-height:28px;margin:0 6px 0 0;border-bottom:0;position:relative;bottom:-3px;display:inline;white-space:nowrap}
.itemTit h2 a{color:#3f3f3f;text-decoration:none}
.itemTit .h2bg{height:27px;line-height:28px;border:0;background:0;font-size:12px;text-align:center;color:#006ace;font-weight:100;padding:0 10px;display:inline;white-space:nowrap}
.itemTit .h2bg a{color:#006ace;text-decoration:none}
.centerPadd .goodsBox{border:1px solid #d6ecff;background:#fff;padding:12px 0 0 0}
.centerPadd .goodsBox .more{text-align:right;clear:both;margin:0 8px 8px 0}
.w1200 .goodsItemh{margin:5px 10px 10px 10px}
.xshow{height:320px;overflow:hidden}
.goodsItemh{width:214px;height:303px;float:left;border:3px solid #fff;margin:5px 12px 10px 12px;overflow:hidden}
.goodsItemhover{border:3px solid #eaeaea}
.goodsItem{width:190px;padding:10px 0;margin:0 auto;position:relative}
.goodsItem1{margin:0 17px 17px 17px;background:0}
.grid{padding-top:10px;position:relative}
.goodsItem .goodsimglist{position:relative;margin-bottom:4px}
.goodsItem .goodsimg{width:160px;height:160px;margin:0 auto;text-align:center;margin-bottom:4px}
.goodsItem p{text-align:left}
.goodsItem p a{color:#333;text-decoration:none}
.goodsItem p a:hover{color:#c00;text-decoration:none}
.goodsItemh .gbuycx{height:20px;padding-left:12px}
.goodsItemh .gbuycx img{padding-right:3px}
.goodsItemh .gbuy{height:40px}
.goodsItemh .gnum{float:left;width:35px;margin:10px 20px 0 8px}
.goodsItemh .gnum input.goodsBuyBox,input.number{border:1px solid #ddd;float:left;font-size:12px;height:18px;line-height:18px;padding:0;text-align:center;width:32px}
.goodsItemh .gbuycart{float:left;width:82px;height:27px;padding-top:6px}
.goodsItemhover .gbuy{background-color:#f6f6f6}
.goodsItemhover p a{color:#c00}
.goodsItem .f1{font-size:14px;font-family:"Microsoft YaHei",Arial}
.goodsItem span{width:40px;height:40px;position:absolute;left:0;top:0}
.goodsItem span.best{background:url(images/bg.gif) no-repeat 0 -304px}
.goodsItem span.news{background:url(images/bg.gif) no-repeat -75px -304px}
.goodsItem span.hot{background:url(images/bg.gif) no-repeat -161px -304px}
.goodsItem .name{margin-bottom:4px;height:40px;overflow:hidden}
.goodsItem .price{height:25px;overflow:hidden}
.goodsItem .cx{position:absolute;z-index:10;width:44px;height:34px;background:url(images/mark_bg.gif) no-repeat;line-height:30px;text-align:center;color:#fff}
.goodsLine{clear:both;width:100%;border-bottom:1px solid #dbdbdb;height:auto;margin:0 0 5px 0;padding-bottom:5px}
.goodsIteme{width:162px;padding:10px 10px 10px 5px;margin:0 auto;position:relative;float:left}
.goodsIteme .goodsimg{width:160px;height:160px;margin:0 auto;text-align:center;margin-bottom:4px}
.goodsIteme p{text-align:left}
.goodsIteme p a{color:#333;text-decoration:none}
.goodsIteme p a:hover{color:#c00;text-decoration:none}
.goodsItemo{width:162px;padding:10px 10px 10px 10px;margin:0 auto;position:relative;float:left}
.goodsItemo .goodsimg{width:160px;height:160px;margin:0 auto;text-align:center;margin-bottom:4px}
.goodsItemo .name{height:20px;line-height:20px;overflow:hidden}
.goodsItemo p{text-align:left}
.goodsItemo p a{color:#333;text-decoration:none}
.goodsItemo p a:hover{color:#c00;text-decoration:none}
.searchColMainItem{border:1px solid #dbdbdb;_zoom:1}
.searchColSubItem h2{height:28px;padding-left:10px;border-bottom:1px solid #dbdbdb;color:#333;font-size:12px;line-height:28px}
.searchColSubItem h2 b{color:#c00}
.searchColSubItem .view{width:170px;overflow:hidden;margin:0 auto}
.searchColSubItem .view a,.searchColSubItem .view a img,.searchColSubItem .view a em{display:block}
.searchColSubItem .view a{line-height:20px}
.searchColSubItem .view a.pro_img{width:115px;margin:0 auto}
.searchBottom{clear:both;z-index:100;padding:12px 0;border-color:#e7e7e7;background:#f5f5f5;text-align:center}
.searchBottom div.searchBox{width:500px;margin:0 auto}
.searchBottom div.searchBox label{float:left;margin-top:4px;font-size:14px;font-weight:bold;vertical-align:middle}
.searchBottom div.searchBox input{float:left;width:328px;height:24px;padding-left:22px;border:1px solid #ccc;border-right:0;background:url(images/search_pubbg.png) -479px -1468px no-repeat #fff;color:#999;line-height:24px;vertical-align:middle}
.searchBottom div.searchBox button{float:left;width:60px;height:28px;overflow:hidden;border:0;background:url(images/search_pubbg.png) 0 -1339px;text-indent:-999em;vertical-align:middle;cursor:pointer}
.searchBottom div.searchBox form{z-index:100;float:left}
.searchBottom p{margin-top:10px}
.searchBottom p a{margin-right:14px;color:#06c}
.searchBottom p a:hover{color:#f60}
.helpTitBg{background:url(images/helpTitBg.gif) repeat-x left top;text-align:left;border:1px solid #c5e4ff;background-color:#fff;padding:0 0 10px 15px}
.helpTitBg dl{float:left;margin-right:30px;_margin-right:20px;_width:130px}
.helpTitBg dt{background:url(images/bg.gif) no-repeat 0 -570px;width:auto;height:33px;line-height:33px;text-align:left;font-weight:bold;color:#56a5ee;padding-left:12px;margin-bottom:8px}
.helpTitBg dt a{font-weight:bold;color:#56a5ee;text-decoration:none}
.helpTitBg dd a{color:#006acd;text-decoration:none;background:url(images/bg.gif) no-repeat 0 -170px;padding:0 0 0 10px}
.boxCenterList ul{height:1%;margin-bottom:5px}
.boxCenterList li{float:left;width:120px}
.boxCenterList li.goodsimg{width:48px;margin-right:10px}
.boxCenterList li.goodsimg img{width:48px;height:48px;display:block}
.RelaArticle a,.alone{background:url(images/bg.gif) no-repeat 0 -170px;padding:0 0 0 10px;color:#3f3f3f;text-decoration:none}
.RelaArticle a:hover{background:url(images/bg.gif) no-repeat 0 -170px;padding:0 0 0 10px;color:#f60;text-decoration:none}
.newfont{font-size:14px}
.newfont a{height:30px;line-height:30px}
.history{border-bottom:2px solid #dc0000}
.history h2{width:100px;height:32px;line-height:32px;position:relative;top:2px;text-align:center;background:url(images/tab_on.jpg) no-repeat;float:left;color:#c00;margin:6px 2px 0 2px;font-size:14px}
.history .h2bg{width:100px;height:32px;line-height:30px;text-align:center;font-size:12px;background:url(images/tab_ono.jpg) no-repeat;float:left;color:#333;margin:6px 2px 0 2px;border:0;font-weight:normal}
#history li{width:100%}
#clear_history a{background:0;padding:0;color:#3f3f3f;text-decoration:none;float:right;cursor:pointer}
.colle a{background:0;padding:0;color:#3f3f3f;text-decoration:none}
.colle a:hover{background:0;padding:0;color:#f60;text-decoration:none}
.detailnav{border-bottom:1px #eee solid}
#goodsInfo{_height:1%}
#goodsInfo .imgInfo{width:380px;float:left;margin-right:10px;display:inline}
#goodsInfo .imgInfo .thumb{width:378px;height:378px;display:block;border:1px solid #ccc}
#goodsInfo #gallbox .gallery{width:350px;float:left;text-align:left;overflow:hidden;margin-top:5px}
#goodsInfo #gallbox .gallery ul{width:auto}
#goodsInfo #gallbox .gallery li{width:55px;float:left;margin:2px 2px 0 2px}
#goodsInfo #gallbox .gallery li img{width:50px;height:50px;cursor:pointer;float:left}
#goodsInfo #gallbox .gallery img.onbg{border:2px solid #c00}
#goodsInfo #gallbox .gallery img.autobg{border:2px solid #dedede}
#goodsInfo #gallbox span{width:12px;height:56px;background:url(images/btn_per.gif) no-repeat;float:left;cursor:pointer}
#goodsInfo #gallbox span.spanR{width:12px;height:56px;background:url(images/btn_next.gif) no-repeat;float:right}
#goodsInfo #gallbox #demo{float:left}
.goodstitle{font-size:14px;font-weight:bold;padding-bottom:8px}
.goodstitle .brief{color:#c00}
#goodsInfo .textInfo{background:#fff;width:370px;float:left;padding-bottom:10px}
.w1200 #goodsInfo .textInfo{background:#fff;width:570px}
#goodsInfo .textInfo p{font-size:14px;font-weight:bold;padding:0 5px 5px 8px}
#goodsInfo .textInfo .shopprice{color:#dc0000;font-weight:bold;font-size:22px;font-family:"Microsoft YaHei"}
#goodsInfo .textInfo .sn{color:#999;font-weight:normal;font-size:12px}
#goodsInfo .textInfo .sale{border-bottom:1px solid #ccc;padding-bottom:6px;margin-bottom:15px}
#goodsInfo .textInfo .info ul{padding-top:5px}
#goodsInfo .textInfo .info li{padding:5px 0;_height:1%}
#goodsInfo .textInfo .info li.padd{padding:7px 0 7px 0}
#goodsInfo .textInfo .info li dd{width:50%;float:left;padding:7px 0}
#goodsInfo .textInfo .info li dd.ddR{width:48%;padding-left:8px}
#goodsInfo .textInfo .info li dd.ddL{border-right:1px solid #eeecec}
#goodsInfo .textInfo .info a{text-decoration:none}
#goodsInfo .textInfo .info a:hover{text-decoration:underline;color:#f00}
#goodsInfo .textInfo .info .loop{background:#f7f7f7;margin-top:8px}
.boxCenterGoods{padding:8px 8px 8px 0}
#goodsInfo .textInpadd{padding:10px 0 10px 5px;clear:both}
#goodsInfo .textInpaddbuy{padding:10px 0 10px 50px}
#goodsInfo .te{height:40px;LINE-HEIGHT:40px;padding-right:10px}
#goodsInfo .textInfo .jf ul{border-top:1px solid #ccc}
#goodsInfo .textInfo .jf li{background:url(images/lineBg.gif) repeat-x left bottom;padding:0 8px;_height:1%}
#goodsInfo .textInfo .jf li.padd{padding:7px 0 7px 8px}
#goodsInfo .textInfo .jf li dd{width:50%;float:left;padding:7px 0}
#goodsInfo .textInfo .inum{float:left;width:35px;height:16px;line-height:16px;text-align:center;border:0;border:1px solid #aeaeae;margin:0 5px}
#goodsInfo .textInfo .imgl{float:left;display:block;width:14px;height:13px;background:url(images/gdown.gif) no-repeat;margin-top:4px}
#goodsInfo .textInfo .imgr{float:left;display:block;width:14px;height:13px;background:url(images/gup.gif) no-repeat;margin-top:4px}
.product_bj{border:1px solid #dad9d9;padding:8px;margin:5px 0}
.product_bj1{border:1px solid #f7e5b3;padding:8px;margin:5px 0;background-color:#fffeef}
.yhdShopInfo .shopALnk a{background:url(images/detailTwoColSpirit.png) no-repeat}
.yhdShopInfo p{height:30px;line-height:30px;text-align:center;background-color:#b00000;color:#fff;border-bottom:1px solid #fff}
.yhdShopInfo p strong{padding:0 10px}
.yhdShopInfo h3{height:75px;background-position:0 -225px;border:5px solid #f2f2f2;text-indent:-999em;border-top:0}
.yhdShopInfo .shopALnk{position:static;width:195px;height:65px;border:5px solid #f2f2f2;border-top:0;padding-bottom:10px}
.yhdShopInfo .shopALnk a{display:inline-block;width:51px;height:15px;margin-top:10px;padding:38px 0 0 9px;background-position:10px -237px;text-indent:0}
.yhdShopInfo .shopALnk a:hover{background-position:10px -317px}
.yhdShopInfo a.shopLnk02{background-position:-59px -235px}
.yhdShopInfo a.shopLnk02:hover{background-position:-59px -315px}
.yhdShopInfo a.shopLnk03{background-position:-125px -235px}
.yhdShopInfo a.shopLnk03:hover{background-position:-125px -315px}
.midcolumntitle{border-left:#c3c3c3 solid 1px;border-right:#c3c3c3 solid 1px;background:url(images/channelsprites.gif) repeat-x 0 -185px;height:30px}
.newproduct{float:left;width:auto;background:url(images/channelsprites.gif) no-repeat 0 -155px;height:30px;margin-left:7px;font:bold 14px '宋体',Arial,Helvetica,sans-serif;color:#900;line-height:30px;text-indent:12px}
.more{float:right;margin-right:11px;width:auto;line-height:30px}
.ie6{padding-left:25px;_padding-left:15px;height:1%}
.comments li{background:url(images/lineBg.gif) repeat-x left bottom;padding:3px 8px;width:97%;_height:1%;text-align:left;position:relative;margin-bottom:8px}
.comments li img{position:absolute;right:0;top:3px}
.comments li p{margin:3px auto;text-align:left}
.commentsList{border:1px solid #ccc;background:#f7f7f7;padding:10px}
.commentsList .inputBorder{border:1px solid #ccc;background:#fff}
.captcha{margin-left:0;position:relative;top:-1px;*margin-left:8px;*position:relative;top:3px;cursor:pointer}
#brandList{margin-top:12px;height:1%}
#brandList .brandBox{width:235px;float:left;display:inline;margin:0 5px 20px 5px;text-align:center;overflow:hidden;height:160px}
#brandList .brandBox .brandLogo{width:188px;height:52px;overflow:hidden}
#brandList .brandBox h4{height:23px;line-height:23px;background:#e9e9e9;margin:15px 0 8px 0;padding:0 10px;text-align:right;font-weight:100;font-size:12px}
#brandList .brandBox h4 span,#brandList .brandBox h4 span a{float:left;font-weight:bold;color:#3f3f3f;text-decoration:none}
#brandList p{text-align:left;margin-bottom:5px;color:#909090;padding:8px}
#brandList p.brandCategory,#brandList p.brandCategory a{text-align:left;color:#006acd;text-decoration:none}
#brandList .brandArticle{border:1px dashed #d9d9d9;background:#f8f8f8;text-align:left}
.brandCategoryA a{margin-right:15px}
#categortyu{width:200px;float:left;position:relative}
#categortyu dl{width:200px}
#categortyu dt{width:190px;height:31px;color:#fff;line-height:31px;font-size:14px;background:url(images/ucentertit.gif) no-repeat;padding-left:10px}
#categortyu dd{border:1px solid #ddd}
#categortyu .up{color:#333;height:29px;background:url(images/ucentert1.gif) repeat-x;font-size:12px;line-height:29px;padding-left:60px}
#categortyu ul li{border-top:1px solid #eaeaea}
#categortyu ul li p{width:80px;background:url(images/ucentert2.gif) 0 10px no-repeat;padding-left:10px;margin:0 auto 0 auto}
#categortyu ul li p a{width:80px;height:26px;line-height:26px}
#categortyu ul li p a:hover{width:80px;height:26px;line-height:26px;font-weight:bolder;color:#3e3e3e}
#categortyu .curs{background-color:#fff3d2;height:26px;font-weight:bolder;display:block}
.usBox{border:1px solid #ccc}
.usBox h3{text-align:left;font-size:14px;padding-left:15px}
.usBox_1{background:#fff;text-align:left;width:297px;height:208px;padding:43px 153px 60px 123px}
.usBox_1 .logtitle{height:30px;background:url(images/ur_bg.gif) no-repeat 0 0}
.us_Submit{border:0;width:71px;height:32px;background:url(images/bnt_ur_log.gif) no-repeat;cursor:pointer}
.us_Submit_reg{border:0;width:122px;height:31px;background:url(images/bnt_ur_reg.gif) no-repeat;cursor:pointer}
.usTxt{width:265px;height:267px;padding:43px 0 0 90px;background:#f2f2f2;float:right;text-align:left;background:url(images/ur_bg1.gif) no-repeat 0 50%;line-height:23px}
.usTxt img{margin-top:15px}
.inputw{width:150px;height:18px}
.loguser{width:415px;border-top:2px solid #edc81e;border-left:1px solid #edc81e;border-right:1px solid #edc81e;border-bottom:1px solid #edc81e}
.loguser .title{background-color:#fef8d0;height:25px;line-height:25px}
.loguser .title b{padding-left:15px;font-size:14px}
.loguser .tb{padding:20px 0 15px 40px}
.loguser .news{border-top:1px dotted #ccc;width:390px;margin:0 auto;padding:10px 0}
.loguser .news ul{padding-left:15px}
.loguser .news li{list-style-type:disc}
.logreg{width:552px;border-top:2px solid #b5b7ba;border-left:1px solid #b5b7ba;border-right:1px solid #b5b7ba;border-bottom:1px solid #b5b7ba}
.logreg .title{background-color:#f5f5f5;height:25px;line-height:25px}
.logreg .title b{padding-left:15px;font-size:14px}
.logreg .tb{padding:20px 0 15px 0}
.inputBg1{width:180px;height:18px}
.uscenterbox{border:1px solid #e7d58d;background-color:#fffdee}
.uscenterbox h5{border:1px solid #e7d58d;background-color:#fff9d5;color:#3a3a3a}
.login_box{width:980px;padding-bottom:10px}
.login_box .login_left{width:558px;float:left;background:url(images/login_line.gif) no-repeat 557px top;min-height:265px;_height:265px}
.login_box .regist_right{float:left;padding:60px 30px}
.login_form{width:450px;margin:50px auto 15px;border-bottom:1px dotted #ccc}
.login_form2{margin:50px 0 15px 55px;border-bottom:1px dotted #ccc}
.login_form p,.login_form2 p{margin-bottom:10px;margin-left:40px;line-height:25px}
.login_form p.tc{margin-left:0}
.login_form2 p.codel{margin-left:50px}
.login_form2 p.butt{padding-left:80px}
.login_form2 .code{vertical-align:middle}
.login_form label,.login_form2 label{width:75px;text-align:right;display:inline-block;font-size:14px}
.login_form2 .input{width:200px}
.other_login{margin-left:70px;border-right:1px solid #dbdbdb}
.other_login p{margin-bottom:12px}
.regist_right p{line-height:24px;margin-bottom:5px}
.regist_right .btn_grey2{margin-top:25px}
.error_tips{background-position:-250px -173px;padding-left:23px;height:23px;line-height:23px;border:1px solid #ffbfbf;background-color:#fff2f2;color:#f00;display:inline-block;margin-left:7px}
.login_form .code{border:1px solid #ccc;padding:1px;vertical-align:top;margin:0 6px}
.boder_red{border:1px solid #ff0101}
.usBox_2{background:#fff;text-align:left;padding:43px 0 60px 123px;font-size:14px}
.usBox_2 .regtitle{height:30px;background:url(images/ur_bg.gif) no-repeat 0 -34px}
.usBox_2 span{font-size:12px}
.actionSub a{font-size:12px;color:#999;text-decoration:none;background:url(images/ur_bg.gif) no-repeat 0 -68px;padding-left:14px}
.box_1 .userCenterBox{margin-top:10px;background-color:#fff}
.box_1 .userCenterBox .userMenu a{display:block;height:26px;line-height:26px;background:url(images/menuBg.gif) no-repeat 0 -30px;color:#3f3f3f;text-decoration:none;margin:0 0 3px 10px;padding-left:3px;padding-top:3px;font-size:14px}
.box_1 .userCenterBox .userMenu a.curs{background:url(images/menuBg.gif) no-repeat 0 0;font-weight:bold}
.box_1 .userCenterBox .userMenu a img{margin-right:3px}
.msgBottomBorder{clear:both;background:url(images/lineBg.gif) repeat-x left bottom;padding-bottom:8px;margin-bottom:8px}
#simple_header{width:100%;padding-bottom:8px;border-bottom:2px solid #a71f24;margin-bottom:28px}
.simplelogo{float:left;padding-top:5px}
.simplenav{float:right}
.simplenav a{color:#06c}
.simplenav p{padding-top:10px}
.cbest{border:1px solid #c00;height:145px;position:relative}
.cbest .bestimg{position:absolute;background:url(images/hot_bg.gif) no-repeat;width:58px;height:58px}
.cbest .tit{padding-left:60px;padding-top:5px;font-size:14px;font-weight:bold}
.cbest .bestpro{padding-left:30px;padding-top:5px;height:115px;overflow:hidden}
.cbest .bestpro .bgoodsitem{width:230px;float:left;display:inline;margin-left:5px;margin-right:5px}
.cbest .bestpro .bgoodsitem .thumb{width:115px;float:left;display:inline;margin-right:5px}
.cbest .bestpro .bgoodsitem .thumb img{width:113px;height:113px}
.cbest .bestpro .bgoodsitem .ttext{width:110px;float:left;overflow:hidden}
.cbest .bestpro .bgoodsitem .ttext .tname{height:38px;line-height:18px;overflow:hidden}
.cbest .bestpro .bgoodsitem .ttext .tname a{color:#333}
.cbest .bestpro .bgoodsitem .ttext .tname a:hover{color:#c00}
.cbest .bestpro .bgoodsitem .ttext .mprice{padding-top:2px;height:15px;line-height:15px;overflow:hidden}
.cbest .bestpro .bgoodsitem .ttext .tprice{padding-top:3px;height:20px;line-height:20px;overflow:hidden}
.cbest .bestpro .bgoodsitem .ttext p{padding-top:5px}
.w1200 .cbest .bestpro .bgoodsitem{width:250px;margin-left:15px;margin-right:25px}
.w1200 .cbest .bestpro .bgoodsitem .ttext{width:130px}
.screeBox{padding:10px 20px;margin-bottom:5px;color:#333;border-bottom:1px dashed #e5e5e5}
.screeBox a{color:#0063dc;padding:3px 5px}
.screeBox a:hover{color:#f60}
.screeBox span{background:#c00;color:#fff;padding:3px 5px;margin:0 3px}
.screeBoxs{padding-left:30px}
.screeBox .inputt{width:48px;height:18px;line-height:18px;border:1px solid #cacaca}
.screeBox .submitbtn{background:url(images/sprites.gif) no-repeat -155px -229px;width:45px;height:21px;border:0;cursor:pointer}
.sort a{position:relative;bottom:5px}
.sort input{position:relative;top:3px}
.goodsList{padding:10px 10px 0 10px}
.goodsList ul{margin-bottom:10px}
.goodsList ul#bgcolor{background:#fbfbfb;border-top:1px dashed #e8e8e8;border-bottom:1px dashed #e8e8e8}
.goodsList li{float:left;padding-top:8px}
.goodsList li.thumb{width:125px;text-align:center}
.goodsList li.thumb img{width:115px;height:115px;padding:1px}
.goodsList li.goodsName{width:290px;margin-right:10px}
.goodsList li.goodsName a{color:#666}
.goodsList li.goodsName a:hover{color:#900}
.goodsList li.goodsName span{color:#c9c7c7}
.goodsList li.action{float:right;margin-left:10px}
.goodsList li.action a.abg{background:url(images/bg.gif) no-repeat 0 -735px;padding-left:18px;position:relative;bottom:5px}
.w1200 .bottom_service_link DL{WIDTH:140px}
.links{padding:0 12px;margin-top:10px}
.bNavList a,.links a{color:#333d;padding:0 5px;text-decoration:none}
.footer_cat{background:#f8f8f8}
.footer_cat{overflow:hidden;padding:30px 0 40px}
.footer_cat li{float:left;width:112px;margin-left:-1px;padding:0 5px;border-left:1px solid #e0e0e0}
.footer_cat li .cat_img{display:block;width:70px;margin:0 auto;border:1px solid #e4e4e4}
.footer_cat li .cat_img img{width:70px;height:70px}
.footer_cat li p{height:14px;overflow:hidden;margin-top:20px;line-height:14px;text-align:center}
.footer_cat li p a{padding:0 4px 0 3px;color:#636363;font-weight:bold}
.footer_cat li p a:hover{color:#c00}
.footer_cat li div{width:85px;height:80px;overflow:hidden;margin:10px auto 0;color:#dedede;text-align:center}
.footer_cat li div a{padding:0 1px 0 2px;color:#999;line-height:20px;display:inline-block}
.footer_cat li div a:hover{color:#c00}
.footer_info{margin-top:15px;background:#fafafa}
.footer dl{float:left;width:123px;padding:8px 20px 23px}
.footer dt{width:108px;height:50px;overflow:hidden;color:#636363;font-size:18px;font-family:Microsoft yahei;line-height:50px}
.footer dd{width:120px;height:20px;overflow:hidden}
.footer dd a{color:#989898;font-family:Microsoft yahei;line-height:20px}
.footer dd a:hover{color:#c00}
.footer_service{width:743px;margin:0 auto 45px;overflow:hidden;border:1px solid #e1e1e1;background:#fff}
.footer_service li{float:left}
.footer_service li a{display:block;padding:0 0 5px 65px;overflow:hidden;color:#656565;font-size:18px;font-family:Microsoft Yahei;text-align:center}
.footer_service li a span{float:left;margin-top:8px;padding-right:66px;border-right:1px solid #d6d6d6;line-height:27px;white-space:nowrap;cursor:pointer}
.footer_service li.last a span{border-right:0}
.footer_service li em{float:left;width:34px;height:39px;margin:0 10px 0 0;background:url(images/mall/header_sprites.png) 0 -230px;color:#fff;font-size:14px;line-height:44px;cursor:pointer}
.footer_service li a:hover{border:0}
.footer_service li a:hover em{background-position:-35px -230px}
.footer_service li a:hover span{color:#dc241f}
.footer_busi_info{width:850px;margin:0 auto;overflow:hidden}
.footer_busi_info div{float:left;width:525px;margin-right:10px;border-right:1px solid #dedede}
.footer_busi_info p{color:#989898;line-height:24px;text-align:center}
.footer_busi_info p a{margin:0 8px;color:#989898}
.footer_busi_info p a:hover{color:#c00}
.footer_busi_info p a.red_link{margin-left:0;color:#c00}
.footer_busi_info img{float:left;margin:6px 0 0 14px}
.w1200 .footer dl{padding:8px 39px 35px 38px}
.w1200 .footer_cat li{padding:0 19px}
.w1200 .footer_promo_main img{width:339px}
.group{padding:8px;border-bottom:1px solid #ccc}
.group li{float:left;background:#fff;padding:8px}
.flowBox{border:1px solid #ccc;border-top:2px solid #eaeaea}
.flowBox table{margin:5px auto}
.flowGoodsFittings{padding:10px}
.flowGoodsFittings ul{height:1%;margin:5px 4px;float:left}
.flowGoodsFittings li{float:left;width:120px}
.flowGoodsFittings li.goodsimg{width:48px;margin-right:10px}
.flowGoodsFittings li.goodsimg img{width:48px;height:48px;display:block}
.serviceleft{width:192px;float:left;padding-top:0;margin-right:10px;display:inline}
.servicelefttopbg{width:192px;height:36px;background:url(images/service.jpg) left top no-repeat;overflow:hidden}
.serviceleftBbg{width:190px;border:solid 1px #ccc;border-top:0}
.serviceleftBbg dl{width:190px;padding-bottom:6px}
.serviceleftBbg dt{background:url(images/helpcenter.jpg) no-repeat left bottom;height:28px;line-height:28px;color:#4c4c4c;border-top:solid 1px #ccc;font-weight:bold;margin-bottom:10px;border-bottom:solid 1px #ccc;padding-left:50px;clear:both;font-size:14px}
.serviceleftBbg dd{width:162px;text-indent:48px;color:#069;line-height:28px;background:url(images/icon_hdian.gif) no-repeat 25% 50%}
.serviceleftBbg dd a{color:#333}
.serviceright{float:right;width:775px;overflow:hidden;display:inline}
.serviceright h2{background-color:#eee;height:30px;line-height:30px;padding-left:15px;font-size:14px;font-weight:bold}
.serviceright .context{padding:10px 0}
.w1200 .serviceright{width:990px}
.article_search{margin:8px 0}
.article_search .inputBg{width:300px}
.quotation{margin:20px auto 20px auto;text-align:center}
.pagebar{height:20px;float:right}
.pagebar img{position:relative;top:2px}
.pagebar a{display:block;float:left;margin:0 2px;color:#06c;text-decoration:none}
.pagebar a:hover{color:#ff5a6a;text-decoration:none}
.pagebar .page_now{display:block;float:left;margin:0 5px;color:#ff5a6a;font-weight:bold;background:#fff}
#pager a{color:#06c;text-decoration:none}
.pager{float:right}
.pager .pagerjump,.pager .gotopage{float:left;display:inline}
.pager .pagerjump{*margin-top:1px}
.pager .previous,.pager .next{background-colro:#fff;border:1px solid #d7d7d7;margin:0 2px;float:left;font-family:simsun}
.pager .previous a,.pager .next a,.pager a.num,.pager span.nextmore,.pager a em{height:20px;line-height:20px;float:left}
.pager a.num{padding:0 6px;border:1px solid #d7d7d7;background:#fff;margin:0 2px}
.pager a em{cursor:pointer;font-style:normal}
.pager span.nextmore{float:left;padding:0;margin:0 2px}
.pager a.current{border:1px solid #f17c1c;background:#fdfae9}
.pager a.current:link,.pager a.current:visited{color:#f17c1c}
.pager a:link,.pager a:visited{text-decoration:none;color:#666}
.pager a:hover,.pager a:active{text-decoration:none}
.pager a.num:hover,.pager a.num:active{border:1px solid #f27b1d;color:#f27b1d}
.pager .previous:hover,.pager .previous:active,.pager .next:hover,.pager .next:active{border:1px solid #f27b1d;background:url(images/btn_bg3_hover.png) no-repeat;color:#f27b1d}
.pager .previous em{background:url(images/pager_prev_ar.gif) 6px 5px no-repeat!important;cursor:pointer;padding:0 5px 0 15px}
.pager .next em{background:url(images/pager_next_ar.gif) 45px 5px no-repeat!important;padding:0 15px 0 5px}
.pager .previous:hover em,.pager .previous:active em{background:url(images/pager_prev_ar_hover.gif) 6px 5px no-repeat!important}
.pager .next:hover em,.pager .next:active em{background:url(images/pager_next_ar_hover.gif) 45px 5px no-repeat!important}
.pager .no-previous em{background-position:6px -26px}
.pager .no-next em{background-position:45px -26px}
.pager .gotopage{margin-left:2px;font-family:simsun;line-height:22px}
.pager .gotopage span,.pager .gotopage .input{float:left;display:inline}
.pager .text{width:20px;height:16px;border:1px solid #a7a6aa;margin:0 4px;vertical-align:middle;line-height:16px}
.pager .btn_submit{background:url(images/submit2.gif) no-repeat;width:34px;height:22px;border:0;vertical-align:middle;margin:0;line-height:20px}
#compareBox{width:128px;background:url(images/compareBg.gif) no-repeat top center;background-color:#edf8ff;padding:35px 0 8px 0;border:1px solid #c5e4ff;position:absolute;right:1px;top:200px}
#compareBox input{width:52px;height:13px;border:0;background:url(images/compareSub.gif) no-repeat}
#compareList{margin:0 0 8px 0;padding:0;width:120px;background:#fff;border:1px solid #d6ecff}
#compareList li{color:#333;text-align:left;background:#fff;padding:3px 5px;margin:3px 0}
#compareList li img{float:right;padding-top:4px}
.messageli{list-style-type:none;padding:5px;color:red}
.messagediv{font-size:12px;position:absolute;border:1px solid #ffd700;text-align:center;padding:5px;background-color:#fffacd;filter:alpha(opacity=50);-moz-opacity:.7;opacity:.7}
.point li{float:left;width:300px}
.news2 li{width:46%;list-style:none;float:left;display:inline;margin-top:10px;margin-left:10px;border-bottom:1px dashed #ccc;height:16px;line-height:16px;padding-bottom:2px}
.news2 li a{padding-left:5px}
.cartpopDiv{width:450px;padding:0 25px;float:left}
.toptitle{width:450px;float:left;padding:16px 0}
.toptitle a.pic{float:left;width:100px;height:100px;margin-right:8px;overflow:hidden}
.toptitle p{float:right;width:340px;font-size:14px;height:88px;overflow:hidden}
.toptitle p.namec{height:40px;line-height:18px;font-weight:bold;overflow:hidden}
.toptitle p.briefc{height:20px;color:#ff6900;overflow:hidden}
.toptitle p.pricec{height:20px;overflow:hidden}
.coninfo{float:left;width:450px;padding:8px 0 0;font-size:14px;border-top:1px dashed #e7e7e7}
.coninfo table{float:left;width:100%;border:0;color:#a00}
.coninfo .carti{background:url(images/cartpop_bg.gif) 80px 3px no-repeat}
.coninfo table td.left{width:82px;text-align:right;font-weight:bold}
.coninfo table td.left span,.toptitle p a{color:#333}
.coninfo table td .gray{color:#999}
.coninfo table td strong{color:#f00}
.coninfo table td font{font-size:18px}
